.start{
    display:flex;
}
.symbol{
    display:grid;
    grid-template-columns:30% 70%;
    margin-right:500px;
    
    
}
ul li {
    list-style-type:none;
    display:inline;
    margin-left:100px;
    font-size:20px;    
}
li a{
    text-decoration:none;
    color:blue;
}
li{
    text-align:right;
    
    margin-left:100px;
    display:inline;
    line-height:50px;
    font-size:15px;
    font-color:red;
}
li:hover{
    color:red;
    background-color:blueviolet;
}
.con{
    display:flex
    margin-right:50px;
    
}
p{
    text-align: center;
}
.addr{
    display: grid;
    grid-template-columns: auto auto auto auto;
    color:yellow;
    background-color:rgb(55, 55, 62);
  }
  a{
    color:yellow;
    text-decoration: none;
  }